.carrousel-container {
  position: relative;
  height: 415px;
  overflow: hidden;
  border-radius: 25px;
  margin: 0 100px;
  
}
.carousel-root{
  height:100%;
}
.carousel-slider{
  height:100%;
}
.slider-wrapper{
  height:100%;
}
.slider{
  object-fit: cover ;
  object-position: center;
  height:100%;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.counter {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 812px) {
  .carrousel-container {
    height: 255px;
    margin: 20px 20px;
  }
  
  .left-arrow,
  .right-arrow {
    top: 50%;
    width: 20px;
    height: 20px;
  }
}