:root {
  --button-underline-color: #ff6060;
  font-family: "montserrat", sans-serif;
  color: #ff6060;
  background-color: white;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}
